input[type=text],input[type=password],input[type=number]  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit],input[type=reset] {
  width: 100%;
  background-color: gray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit],input[type=reset]:hover {
  background-color: darkslategrey;
}

button{
  background-color: darkslategrey;
  width: 100%;
  background-color: gray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn{
  width: 100px;
  text-align: center;
  padding: 12px;
  margin: 5px;
}
ul {
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: #2e5685;
}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li:hover {
  background-color: #a197fc;
}
div {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 5px;
  margin: auto;
}
#main{
  float: right;
  max-width: 330px;
  background-color: #cccccc;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto;
}
#vmlist{
  margin-right: 370px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
}
select
{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff;
}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#push button { width: 9%; background: darkslategrey; border: none; padding: 10px; color: #eee; }
#push { padding: 3px; width: 100%; }
#push input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }